.marker
{
  background-color: rgba(136, 25, 25, 0.842);
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.lettuce
{
  background-color: rgba(0, 128, 0, 0.87);
  color: lightgreen;
  padding-left: 160px;
  padding-right: 160px;
  border-radius: 7px;
}

.bacon
{
  background-color: rgba(165, 42, 42, 0.884);
  color: burlywood;
  padding-left: 160px;
  padding-right: 160px;
  border-radius: 5px;
}

.cheese
{
  background-color: rgb(253, 218, 21);
  color: yellow;
  padding-left: 160px;
  padding-right: 160px;
  border-radius: 7px;
}


.meat
{
  background-color: maroon;
  padding-left: 160px;
  padding-right: 160px;
  border-radius: 5px;
}

.rotate_image {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(180deg);

  overflow: visible;
}

.change-ratio-up{
  margin-bottom:-6%;
}

body *
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


